*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
    background-color: #4E47FF;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;

}
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.top-content{
    background-image: url(../assets/Hero-bg.png);
    width: 100%;
    height: 650px;
}
.nav-container{
    
    display: flex;
    justify-content:space-between;
}
.logo h1{
    font-size:34px;
    font-weight: 800;
    color: #4E47FF;
    margin: 50px 20px;

}
.button a button{
    
    text-decoration: none;
    margin: 50px 20px;
}

.bg-container{
    text-align: center;
    padding: 0 150px;
}
.bg-container h1{
    margin:158px 0 25px 0 ;
    font-size: 68px;
    font-weight: 800;
}